<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
<listener class-name="SKAutomation.TestComponents.Listeners"/>
  </listeners>
 <test thread-count="5" name="ProductCatalogueTest">
    <classes>
      <class name="SKAutomation.Tests.StandAloneTest"/>
      
    </classes>
    
    
  </test> 
 
  
   <test thread-count="5" name="ErrorCheckTest">
    <classes>
      <class name="SKAutomation.Tests.ErrorValidation"/>
    </classes>
    
    
  </test> <!-- Test -->
 
</suite> <!-- Suite -->
